<div class="about">
  <h2>About HIV Ninja</h2>

  <p>We are focused on providing support to HIV positive patients and help them along their journey.
    <br>We want to empower such patients through our platform.
  </p>
  <p>Patients can signup on our website and meet other patients who are going through the same phase as them.<br>We aim to bring more awareness about the disease and educate people regarding what can be done about it.</p>

  <h4>Here's how the application works</h4>
  <li>Login to the application using an email. You will receive an OTP for passwordless authentication</li><br>
  <li>Update your profile when you login for the first time.</li><br>
  <li>Use the Support Group to interact with other patients.</li><br>
  <li>Get the help you need.</li><br>
</div>
